version: "3.8"

services:
  db:
    image: postgres:15.2-alpine
    ports:
      - "5432:5432"
    volumes:
      - talebi-db-data:/var/lib/postgresql/data
    env_file:
      - ".env"

  backend:
    depends_on:
      - db
    build: ./
    ports:
      - "8000:8000"
    volumes:
      - .:/usr/src/app
    command: sh -c "./wait-for-it.sh db:5432 &&
      python manage.py collectstatic --noinput &&
      python manage.py runserver 0.0.0.0:8000"
    env_file:
      - ".env"

volumes:
  talebi-db-data: