{% extends 'main.html' %}

{% block content %}

<a class="btn" href="{% url 'createPlant' %}">Create a new "Plant" !</a>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Photo</th>
    </tr>
    {% for plant in plants %}
    
    <tr>
        <td>{{plant.name}}</td>
        <td>{{plant.description}}</td>
        <td>{{plant.price}}</td>
        <td><img src="{{ plant.image_url}}" alt="photo"></td>
        <td><a href="{% url 'updatePlant' plant.id %}">Edit</a></td>
        <td><a href="{% url 'deletePlant' plant.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}