{% extends 'main.html' %}

{% block content %}

<a href="{% url 'createTool' %}">Create a new "Tool" !</a>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
        <th></th>
    </tr>
    {% for tool in tools %}
    
    <tr>
        <td>{{tool.name}}</td>
        <td>{{tool.description}}</td>
        <td>{{tool.price}}</td>
        <td><a href="{% url 'updateTool' tool.id %}">Edit</a></td>
        <td><a href="{% url 'deleteTool' tool.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}